<a href="/teams/new" class="create">Create Team</a>

<form action="/teams" method="GET">
<input name="query" type="text" class="search">
<input type="submit" value="Search" />
</form>

<%@teams.each do |team| %>
<a href="/teams/<%=team.id%>"><h2><%=team.name%></h2></a>
<p><%= team.description %></p>
<%end%>