<h1>Edit</h1>

<form action="/users/<%= @user.id %>" method="POST">

</form>

<form action="/users/<%= @user.id %>" method="POST">
    <label for="name">Username</label>
    <input type="text" name="user[name]" placeholder="<%= @user.name %>">
    !< placeholder or value -->
    <label for="password">Password</label>
    <input type="password" name="user[password]" value="passdword">

    <input type="submit" value="submit">
</form>

