<h2>Edit</h2>

<form action="/users/<%= current_user.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <label for="name">Username</label>
    <input type="text" name="user[name]" placeholder="<%= current_user.name %>">
    
    <label for="password">Password</label>
    <input type="password" name="user[password]" value="<%= current_user.password %>" placeholder="********">

    <input type="submit" value="Change">
</form>
<br>
<form method="post" action="/users/<%= current_user.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete User" />
</form>

