<% if logged_in?%>

    <h2>Welcome, <%= current_user.name %>!</h2>
    <p>This is your home page where you can view and edit your:</p>

    <h4><a href="/teams">Teams</a></h4>
    <h4><a href="/characters">Characters</a></h4>
    <h4><a href="/equips">Equipment</a></h4>

    <h4><a href="/users/<%= current_user.id %>/edit">Profile</a></h4>
    <br>

<% end%>





