<h1>Welcome, <%= @user.name %>!</h1>


<form action="/users/<%= @user.id %>" method="POST">
    <input type="hidden" value="DELETE" method="POST">
    <input type="hidden" value="DELETE" method="POST">
</form>