<form action="/characters/<%= @character.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="name">Character Name</label>
  <input type="text" name="character[name]" value="<%= @character.name %>" />
  <br>
  
  <label for="content">Stats</label>
  <p><input type="textarea" name="character[content]" value="<%= @character.stats %>" /></p>

  <input type="submit" value="submit" />
</form>