<a href="/characters/new" class="create">Create Character</a>

<form action="/characters" method="GET" class="search-form">
<input name="query" type="text" class="search">
<input type="submit" value="Search" />
</form>

<%@characters.each do |character| %>
<a href="/characters/<%=character.id%>"><h2><%=character.name%></h2></a>
<%end%>