<h1>Create A New Character</h1>

<%= @error %>

<form action="/characters" method="POST">
  <label for="name">Character Name: </label>
  <input type="text" id="character_name" name="character[name]" />
  <br>
  <label for="klass">Choose a Class:</label>
  <input list="klass-flavors" id="klass-choice" name="character[klass]" />

  <datalist id="klass-flavors">
      <option value="Barbarian">
      <option value="Bard">
      <option value="Cleric">
      <option value="Druid">
      <option value="Fighter">
      <option value="Monk">
      <option value="Paladin">
      <option value="Ranger">
      <option value="Rogue">
      <option value="Sorcerer">
      <option value="Warlock">
      <option value="Wizard">
  </datalist>

  <br>
  <label for="ability">Ability: </label>
  <input type="text" name="character[ability]" />
  <br>
  <br>

  <h4>Select a team for your character:</h4>
  <br>
  <% @teams.each do |team| %>
    <input type="checkbox" name="character[team_ids][]" id="<%= team.id %>" value="<%= team.id %>"><%= team.name %>
    <br>
  <% end %>
  <br>

  <input type="submit" value="Create">
</form>