<form action="/characters" method="POST">
  <label for="title">Title</label>
  <input type="text" name="name" />
  <%# create nested has for data to mass assign %>
  <%# <input type="text" id="character_name" name="character[name]" /> %>
  <br>
  <label for="content">Content</label>
  <p><input type="textarea" name="content" /></p>
  <input type="submit" value="submit" />
</form>