<a href="/equips/new">Create An Equip</a>
<h4>Equipped on: </h4>
<%@equips.each do |equip| %>
    <a href="/equips/<%=equip.id%>"><h2><%=equip.name%></h2></a>
    <h4><%= equip.character.try(:name) %></h4>
<%end%>