<h1>Create A New Piece of Equipment</h1>

<%= @error %>
<form action="/equips" method="POST">
  <label for="name">Equipment Name: </label>
  <input type="text" name="equip[name]" required>
  <br>
  <label for="description">Description: </label>
  <input type="textarea" name="equip[description]" />
  <br>
  <label for="ability">Ability: </label>
  <input type="text" name="equip[ability]" />
  <br>
  <h4>Select a character for your equip below:</h4>

  <label for="character">Choose a Character:</label>
  <select id="character-names" name="equip[character_id]">
    <% @characters.each do |character| %>
      <option value="<%= character.id %>"><%= character.name %></option>
    <% end%>
  </select>
  <input type="submit" value="Create" />
</form>